header {
    background: url('https://cdn.sanity.io/images/f23a1pgq/pma_production/28859d5709c77d75726730a4a2a80ee8028ece3c-5760x3840.jpg?rect=0,1308,5760,2160&bg=f2f2f2&w=1920&h=720&q=80&fit=clip') center/cover no-repeat;
    text-align: center;
    padding: 10px;
    position: relative;
    z-index: -1;
}

mark {
    background-color: #3067bacc;
    color: #fff;
    padding: 5px;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f2f2f2;
}
.container {
    display: flex;
    justify-content: center; /* Horizontally centers content */
    align-items: center; /* Vertically centers content */
    height: 80vh; /* Makes the container full height of the viewport */
    background-color: white; /* Set the background color to white */
    padding: 20px; /* Add some padding to create space around the content */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
}
.containment {
    display: flex;
    justify-content: center; /* Horizontally centers content */
    align-items: center; /* Vertically centers content */
    height: 30vh; /* Makes the container full height of the viewport */
    background-color: rgba(217, 235, 233, 0.77); /* Set the background color to white */
    padding: 20px; /* Add some padding to create space around the content */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
}

div:where(.swal2-container) .swal2-select {
    width: 80% !important;
    margin-bottom: 10px;
}

.content {
    text-align: center; /* Centers text horizontally within the container */
}

.height-correction {
    height: 100%;
}

.logo {
    margin-right: 10px;
    margin-bottom: 5px;
    width: 40px;
    height: 40px;
}
#carouselExampleAutoplaying {
    max-height: 500px; /* Adjust the value as needed */
    overflow: hidden; /* Hide any overflow content */
    max-width: 800px; /* Adjust the value as needed */
    margin: 0 auto; /* Center the carousel horizontally */
}

#carouselExampleAutoplaying .carousel-inner {
    max-height: 100%; /* Ensure the carousel items fit within the container */
}

#carouselExampleAutoplaying .carousel-item img {
    height: auto; /* Allow the images to resize proportionally */
    max-height: 100%; /* Ensure the images fit within the carousel container */
}
p {
    font-size: larger;
    margin-bottom: 5px;
}
#carouselCourse0 {
    max-height: 500px; /* Adjust the value as needed */
    overflow: hidden; /* Hide any overflow content */
    max-width: 800px; /* Adjust the value as needed */
    margin: 0 auto; /* Center the carousel horizontally */
}
#carouselCourse1 {
    max-height: 500px; /* Adjust the value as needed */
    overflow: hidden; /* Hide any overflow content */
    max-width: 800px; /* Adjust the value as needed */
    margin: 0 auto; /* Center the carousel horizontally */
}

#carouselCourse2 {
    max-height: 500px; /* Adjust the value as needed */
    overflow: hidden; /* Hide any overflow content */
    max-width: 800px; /* Adjust the value as needed */
    margin: 0 auto; /* Center the carousel horizontally */
}

#carouselCourse3 {
    max-height: 500px; /* Adjust the value as needed */
    overflow: hidden; /* Hide any overflow content */
    max-width: 800px; /* Adjust the value as needed */
    margin: 0 auto; /* Center the carousel horizontally */
}
h2 {
    text-align: center;
}

.carousel-caption {
    /* Your styles for the carousel caption */
    width: 100%; /* Set the width to 100% to occupy the entire width of the carousel item */
    background-color: rgba(0, 0, 0, 0.5); /* Example background color with transparency */
    color: rgb(255, 255, 255); /* Example text color */
    position: absolute; /* Position the caption relative to its parent carousel item */
    bottom: -14; /* Position the caption at the bottom of the carousel item */
    left: 0; /* Align the caption to the left of the carousel item */
}



.social-buttons {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.social-button {
    margin-bottom: 10px;
}

button {
    background-color: #2ecc71;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #35a3d2;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

.service-card {
    text-align: center;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.service-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.service-card p {
    font-weight: bold;
    margin-bottom: 5px;
}

footer {
    text-align: center;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .menu-bar {
        width: 100%;
        position: relative;
        height: auto;
        padding: 10px;
    }

    .menu-bar ul {
        text-align: center;
    }

    .menu-bar li {
        display: inline-block;
        margin-right: 20px;
    }
}
    /* Estilos CSS para personalizar la apariencia */
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
    .contain {
        text-align: center;
        margin-top: 50px;
    }
    .image-container {
        position: relative;
        width: 80%; /* Ancho de la imagen */
        margin: auto;
    }
    .image-container img {
        width: 100%;
        height: auto;
    }
    .text-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.264); /* Color de fondo semi-transparente */
        color: #fff; /* Color del texto */
        padding: 20px;
        border-radius: 10px;
    }
    .quote-button {
        display: inline-block;
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #007bff; /* Color de fondo del botón */
        color: #fff; /* Color del texto del botón */
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }
    .quote-button:hover {
        background-color: #0056b3; /* Color de fondo del botón al pasar el mouse */
    }